.event-card {
  //width: 200px
  width: 330px;
  //height: 422px;
}

.mat-card-image {
  max-height: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 198px;
  cursor: pointer;
}
