<a target="_blank" href="https://twitter.com/danduh81">
  <img class="social" src="assets/twitter.svg" alt="Twitter @DanDuh81"/>
</a>
<a target="_blank" href="https://github.com/danduh">
  <img class="social" src="assets/github.svg" alt="GitHub DanDuh"/>
</a>
<a target="_blank" href="mailto:danduh@gmail.com">
  <img class="social" src="assets/gmail.svg" alt="Mail to DanDuh"/>
</a>
<a target="_blank" href="https://www.linkedin.com/in/danduh/">
  <img class="social" src="assets/linkedin.svg" alt="linkedin DanDuh Profile"/>
</a>
<a target="_blank" href="https://medium.com/@danduh">
  <img class="social" src="assets/medium_logo.png" alt="Medium Blogs @danduh"/>
</a>
