<div class="wrapper">
  <article>
    <h1>Hi I'm Daniel Ostrovsky</h1>

    <img class="head-image" src="assets/head.jpg" alt="Daniel Ostrovsky"/>

    <p>Web development (Full Cycle) expert and teams manager with over twenty years of experience in the industry.
      Meetup organizer - "NG-Heroes".Volunteer at Tech-Career, nonprofit organisation which target to attain and advance professional careers In
      Israel’s High-Tech for Ethiopian Israeli young adults.
      Full Cycle Dev. enthusiast, Public speaker and writer, Community leader.
    </p>
    <p>I'm passionate about family, about my gorgeous wife and my adorable kids.
      In my free time, I'm "**The Best Developer in The World**" *based on my wife's ranking*.</p>
  </article>
</div>

