<div class="wrapper">
  <img class="head-image" src="assets/head.jpeg"/>

  <article>
    <h1>Him I'm Daniel Ostrovsky</h1>
    <p>Web development (Full Cycle) expert and teams manager with over twenty years of experience in the industry.
      Meetup organizer - "NG-Heroes". Volunteer at Tech-Career, nonprofit organisation which target to attain and
      advance
      professional careers In Israel’s High-Tech for Ethiopian Israeli young adults.
    </p>
    <p>
      I'm passionate about family, about my gorgeous wife and my adorable kids.
      In my free time, I'm "**The Best Developer in The World**" *based on my wife's ranking*.</p>
  </article>
</div>
<aside>
  <h3>Upcoming Events</h3>
  <mat-card class="event-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</aside>

